name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: ['packages/component-library','packages/hooks']
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install deps
        run: |
          cd ${{ matrix.dir }}
          npm ci
      - name: Lint
        run: |
          cd ${{ matrix.dir }}
          npm run lint
      - name: Test
        run: |
          cd ${{ matrix.dir }}
          npm test
