name: Build & Deploy Storybook

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build storybook
        working-directory: packages/component-library
        run: |
          npm ci
          npm run build-storybook

      - name: Upload Storybook artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: packages/component-library/storybook-static

  deploy:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
